<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qjp.mapper.ConfigMapper" >
  <resultMap id="BaseResultMap" type="com.qjp.entity.ConfigEntity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    
    <result column="key" property="key" jdbcType="VARCHAR" />
    <result column="value" property="value" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="is_delete" property="isDelete" jdbcType="INTEGER" />
  </resultMap> 
     
  <sql id="Base_Column_List" >
	   id,create_user,update_user,create_time,update_time,
   	   `key`,`value`,remark,`code`,is_delete
  </sql>
  <insert id="insertConfig" parameterType="com.qjp.entity.ConfigEntity" >
    insert config
   		(create_user,update_user,create_time, update_time,
   		 `key`,`value`,remark,`code`) 
    values
    	( #{createUser,jdbcType=VARCHAR},#{updateUser,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},#{updateTime,jdbcType=TIMESTAMP},
    	#{key,jdbcType=VARCHAR},#{value,jdbcType=VARCHAR},#{remark,jdbcType=VARCHAR},#{code,jdbcType=VARCHAR})
  </insert>
  <select id="getConfigPage" resultMap="BaseResultMap" parameterType="com.qjp.util.query.ConfigQuery" >
         select 
         <include refid="Base_Column_List" />
         from config
         where 1=1
         <trim prefix=" " suffix="" suffixOverrides="" >
		     <if test="code != null and code != ''" >
		       and `code` =  #{code}
		      </if>
		      <if test="key != '' and key != null" >
		       and `key` = #{key}
		      </if>
		 </trim>
		 and is_delete = 0
         order by create_time desc
    </select>
    
     <select id="getConfigListByCode" resultMap="BaseResultMap" parameterType="java.lang.String" >
         select 
         <include refid="Base_Column_List" />
         from config
         where `code` = #{code} and is_delete = 0
         order by `value` asc
    </select>
	
	<select id="getConfigById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
         select 
         <include refid="Base_Column_List" />
         from config
         where id = #{id} and is_delete = 0
    </select>
    
    
    <update id="deleteConfigById" parameterType="java.lang.String">
		update config set 
		
		is_delete = 1
		 where id=#{id} limit 1;
		 
		 
	</update>
	
   <update id="updateConfig" parameterType="com.qjp.entity.ConfigEntity">
		update config set 
		<if test="createUser != null">
			create_user=#{createUser,jdbcType=VARCHAR},
		</if>
		<if test="updateUser != null">
			update_user=#{updateUser,jdbcType=VARCHAR}, 
		</if>
		<if test="createTime != null">
			create_time=#{createTime,jdbcType=TIMESTAMP},
		</if>
		<if test="updateTime != null">
		update_time=#{updateTime,jdbcType=TIMESTAMP},
		</if>
		
		<if test="key != null">
      	`key`=#{key,jdbcType=VARCHAR},
		</if>
		<if test="value != null">
      	`value`=#{value,jdbcType=VARCHAR},
		</if>
		<if test="code != null">
      	`code`=#{code,jdbcType=VARCHAR},
		</if>
		<if test="remark != null">
      	 remark=#{remark,jdbcType=VARCHAR},
		</if>
		<if test="isDelete != null">
      	 is_delete=#{isDelete,jdbcType=VARCHAR},
		</if>
		
		id=#{id}
		 where id=#{id} limit 1;
		 
		 
	</update>
</mapper>